[Desktop Entry]
Version=1.0
Type=Application
Name=Coog
GenericName=Client for Coog Application
GenericName[fr]=Client de la plate-forme applicative Coog
Comment=Access Coog server
Comment[fr]=Accéder au serveur Coog
Keywords=Business;Management;Enterprise;ERP;Framework;Client;
Exec=coog %u
Icon=tryton-icon
Terminal=false
MimeType=application/coog
Categories=Office;Finance;
