[Desktop Entry]
Version=1.0
Type=Application
Name=Coog
GenericName=Client for the Coog Application Platform
GenericName[ca_ES]=Client per l'aplicació Coog
GenericName[de]=Client für die Coog Applikationsplattform
GenericName[es_AR]=Cliente para la aplicación Coog
GenericName[es_EC]=Cliente para la aplicación Coog
GenericName[es_ES]=Cliente para la aplicación Coog
GenericName[es_CO]=Cliente para la Aplicación Coog
GenericName[fr]=Client de la plate-forme applicative Coog
GenericName[ru]=Клиент для платформы приложений Coog
GenericName[sl]=Odjemalec za Coog programsko platformo
Comment=Access Coog server
Comment[de]=Verbindet zu einem Coog Server
Comment[es_AR]=Acceso al servidor Coog
Comment[es_EC]=Acceso al servidor Coog
Comment[ca_ES]=Accés al servidor Coog
Comment[es_ES]=Acceso al servidor Coog
Comment[es_CO]=Acceso al servidor Coog
Comment[fr]=Accéder au serveur Coog
Comment[ru]=Подключение к серверу Coog
Comment[sl]=Dostop do Coog strežnika
Keywords=Business;Management;Enterprise;ERP;Framework;Client;
Exec=tryton %u
Icon=tryton-icon
Terminal=false
MimeType=application/coog
Categories=Office;Finance;
