/*default color scheme */
@define-color bg_color #ffffff; 
@define-color fg_color #46423d;
@define-color shape_color #0094d2;
@define-color base_color #ffffff;
@define-color text_color #46423d;
@define-color selected_bg_color #a2daf4;
@define-color selected_fg_color @text_color;
@define-color tooltip_bg_color #000000;
@define-color tooltip_fg_color #ffffff;
@define-color backdrop_fg_color mix (@bg_color, @fg_color, 0.8);
@define-color backdrop_text_color mix (@base_color, @text_color, 0.8);
@define-color insensitive_bg_color #e7f4fc;
@define-color dark_bg_color #ffffff;
@define-color dark_fg_color #46423d;
@define-color dark_borders shade (@dark_bg_color, 0.9);

@define-color active_shadow_color #0094d2;
@define-color inactive_shadow_color alpha(black, 0.3);

@import url("public-colors.css");

/* theme common colors */
@define-color button_text_shadow alpha(white, 0.4);
@define-color button_bg_color shade (@bg_color, 1.02); /*shade (#cdcdcd, 1.08);*/
@define-color notebook_button_bg_color shade (@bg_color, 1.02);
@define-color button_insensitive_bg_color @insensitive_bg_color;
@define-color readonly_bg_color #e7f4fc;

@define-color backdrop_dark_fg_color mix (@dark_bg_color, @dark_fg_color, 0.75);
/*@define-color backdrop_dark_bg_color mix (@dark_bg_color, @dark_fg_color, 0.75);*/
@define-color backdrop_selected_bg_color shade (@selected_bg_color, 1.2);
@define-color backdrop_selected_fg_color @selected_fg_color;
@define-color backdrop_filling_bg #0094d2;

@define-color focus_color @selected_fg_color;
@define-color focus_bg_color @shape_color;
@define-color hover_color alpha @selected_fg_color;
@define-color hover_bg_color shade (@shape_color, 1.5);

@define-color scale_highlight_bg #0094d2;

@define-color osd_fg_color #eeeeec;
@define-color osd_bg_color alpha(#0094d2, 0.7);
@define-color osd_border_color alpha(black, 0.7);

@define-color scrollbar_track_color mix(@base_color, black, 0.1); /* #e6e6e6 */

@define-color progressbar_fill_a shade(@theme_selected_bg_color, 1.07);
@define-color progressbar_fill_b shade(mix(@theme_selected_bg_color, @shape_color, 0.10), 0.91);
@define-color button_border_active shade(@theme_selected_bg_color, 0.95);
@define-color progressbar_backdrop_fill_a shade(@backdrop_selected_bg_color, 1.07);
@define-color progressbar_backdrop_fill_b shade(mix(@backdrop_selected_bg_color, grey, 0.10), 0.91);
@define-color button_border_backdrop_active shade(@backdrop_selected_bg_color, 0.95);
@define-color panel_lighter_color shade (@dark_bg_color, 1.4);
@define-color panel_darker_color shade (@dark_bg_color, 0.96);
@define-color maximized_header_color shade (@dark_bg_color, 1.3);
@define-color places_sidebar_bg shade(@dark_bg_color, 1.56);
@define-color places_sidebar_backdrop_bg @wm_bg_b;
@define-color places_sidebar_fg_color @selected_fg_color;
@define-color places_sidebar_selected_bg_color @shape_color;

@define-color suggested_action_bg #38b44a;

@import url("gtk-widgets-borders.css");
@import url("gtk-widgets-assets.css");
@import url("gtk-widgets.css");
